<!--Carrosel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/smartmockups_kinnbdrm.jpg"
                alt="Primeiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Vestuário</h5>
                    
                  </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/smartmockups_kinniel6.jpg" alt="Segundo Slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Utilitários</h5>
                
              </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/smartmockups_kino7x0y.jpg"
                alt="Terceiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Decorações</h5>
                    
                  </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<!--/Carrosel-->
<hr>




<div class="quadro d-flex">
    

    <div class="container">

        <!--Começo do container-->
        <div class="image" alt="">
            <img src="assets/smartmockups_kiltgs89.jpg">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta Penas</div>
                <p>Unisex</p>
                <div class="price">R$39,99</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="color">PP</span>
                        <span class="color">P</span>
                        <span class="active">M</span>
                        <span class="color">G</span>
                        <span class="color">GG</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Pláticos modas</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image" alt="">
            <img src="assets/smartmockups_kitjbo7f.jpg">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta Beija-flor</div>
                <p>Unisex</p>
                <div class="price">R$39,99</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="color">PP</span>
                        <span class="color">P</span>
                        <span class="active">M</span>
                        <span class="color">G</span>
                        <span class="color">GG</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Pláticos modas</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image" alt="">
            <img src="assets/smartmockups_kilto1cn.jpg">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta Papagaios</div>
                <p>Unisex</p>
                <div class="price">R$39,99</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="color">PP</span>
                        <span class="color">P</span>
                        <span class="active">M</span>
                        <span class="color">G</span>
                        <span class="color">GG</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Pláticos modas</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>



    <!--fim do conteúdo do card-->

</div>

