


<div class="quadro d-flex">

    <div class="container">

        <!--Começo do container-->
        <div class="image" alt="Modelo feminina posando com o Kimono de paetê">
            <img src="assets/Captura de Tela (492).png">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Kimono de paetê</div>
                <p>Unisex</p>
                <div class="price">R$89,99</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="color">PP</span>
                        <span class="color">P</span>
                        <span class="active">M</span>
                        <span class="color">G</span>
                        <span class="color">GG</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Vista Trama</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/fb78d3f4-4263-4b30-a0a2-7570c8ae1db3.jpeg"
                alt="Modelo feminina posando com a Camiseta Sereia">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta Sereia</div>
                <p>Unisex</p>
                <div class="price">R$39,99</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="color">PP</span>
                        <span class="color">P</span>
                        <span class="active">M</span>
                        <span class="color">G</span>
                        <span class="color">GG</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Rica store</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/18e855e3-49b5-43b7-b7e8-4aa02e3295c7.jpeg"
                alt="modelo masculino posando com a camiseta aquarela">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta Aquarela</div>
                <p>Unisex</p>
                <div class="price">R$39,99</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="color">PP</span>
                        <span class="color">P</span>
                        <span class="active">M</span>
                        <span class="color">G</span>
                        <span class="color">GG</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Le vinci</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>


    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/Captura de Tela (486).png" alt="Modelo feminina posando com a Saia ètnica">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Saia Étnica</div>
                <p>Unisex</p>
                <div class="price">R$19,99</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="color">PP</span>
                        <span class="color">P</span>
                        <span class="active">M</span>
                        <span class="color">G</span>
                        <span class="color">GG</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>2D brecho</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/usestarlight.png" alt="Modelo feminina posando com a camiseta poison">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta poison</div>
                <p>Unisex</p>
                <div class="price">R$39,99</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="color">PP</span>
                        <span class="color">P</span>
                        <span class="active">M</span>
                        <span class="color">G</span>
                        <span class="color">GG</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Use Starlight</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/884eaa3c-6b7f-464a-8026-f621d03bb5a7.jpeg"
                alt="Modelo masculino posando com a camiseta arco-íris">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta arco-íris</div>
                <p>Unisex</p>
                <div class="price">R$39,99</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="color">PP</span>
                        <span class="color">P</span>
                        <span class="active">M</span>
                        <span class="color">G</span>
                        <span class="color">GG</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Power</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>



</div>


