.parallax{
    background-image: url('https://i.imgur.com/BecMrwm.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}
.texto{
    font-size: 20pt;
    color: green;
}