<div class="body">
    
<div class="quadro">
    <header>
        <!--O IMG-WRAPPER VAI OCUPAR 100% DA LARGURA DO HEADER E 100% DA ALTURA-->
        <div class="img-wrapper">
            <img src="assets/nature.jpg"
                alt="">

        </div>
        <div class="banner">
            <h1>Bem vindes a (Re)ciclo !</h1>
        </div>
    </header>
</div>


<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <img class="d-block w-100"
                    src="assets/smartmockups_kis2s2k5.png"
                    alt="Imagem de um homem vestindo um casaco preto" data-aos="fade-up" data-aos-duration="2000">
            </div>
            <div class="col-8"  data-aos="fade-down" data-aos-duration="1000">
                <h2 class="display-4">(Re)inventando o novo</h2>
                <p>Nós chegamos para transformar o mundo.<br>(Re)inventar é o que ta na moda!</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<!--/Jumbotron-->

<!--Jumbotron-->
<div class="jumbotron2 jumbotron-fluid">
    <div class="container" data-aos="fade-right" data-aos-duration="2000">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <img class="d-block w-100"
                    src="assets/smartmockups_kis2mqa7.png"
                    alt="Imagem de um homem vestindo um casaco preto" data-aos="fade-up" data-aos-duration="2000">
            </div>
            <div class="col-8">
                <h2 class="display-4" data-aos="fade-down" data-aos-duration="4000">Conheça nosso produtos!</h2>
                
                    <div class="btns">
                        <!--Botões-->
                        <a  routerLink="/shop" data-aos="zoom-in">Conhecer</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--/Jumbotron-->

<!--Jumbotron-->
<div class="jumbotron3 jumbotron-fluid">
    <div class="container" data-aos="fade-left" data-aos-duration="2000">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <img class="d-block "
                    src="assets/LOGO JACQUE.png"
                    alt="Imagem de um homem vestindo um casaco preto" data-aos="fade-up" data-aos-duration="3000">
            </div>
            <div class="col-8">
                <h2 class="display-4" data-aos="fade-down" data-aos-duration="2000">Saiba quem somos</h2>
                <div class="btns">
                    <!--Botões-->
                    <a  routerLink="/sobre" data-aos="zoom-in">Saber mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Jumbotron-->

</div>

