
<div class="quadro">
    <header>
        <!--O IMG-WRAPPER VAI OCUPAR 100% DA LARGURA DO HEADER E 100% DA ALTURA-->
        <div class="img-wrapper">
            <img src="https://thumbs.dreamstime.com/b/aerial-view-beautiful-green-forest-texture-top-155141560.jpg"
                alt="">

        </div>
        <div class="banner">
            <h1>Bem vindes a (Re)ciclo !</h1>
        </div>
    </header>
</div>

 <!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <img class="d-block w-100"
                    src="..."
                    alt="Imagem de um homem vestindo um casaco preto">
            </div>
            <div class="col-8">
                <h2 class="display-4">(Re)vista-se o Omnichanel do futuro</h2>
                <p>Aqui você pode comprar nosso produtos pelo site, pagando com cartão de crédito, débito, boleto, QR code ou dinheiro.</p>
                <p>E ainda pode escolher se desejá receber o produto no conforto de sua casa ou retirar em uma de nossas lojas.</p>
                <p>Tudo pensado para sua praticidade e conforto!</p>
            </div>
        </div>
    </div>
</div>
<!--/Jumbotron-->

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <img class="d-block w-100"
                    src="assets/smartmockups_kidt0qj9.png"
                    alt="Imagem de um homem vestindo um casaco preto">
            </div>
            <div class="col-8">
                <h2 class="display-4">(Re)vista-se o Omnichanel do futuro</h2>
                <p>Aqui você pode comprar nosso produtos pelo site, pagando com cartão de crédito, débito, boleto, QR code ou dinheiro.</p>
                <p>E ainda pode escolher se desejá receber o produto no conforto de sua casa ou retirar em uma de nossas lojas.</p>
                <p>Tudo pensado para sua praticidade e conforto!</p>
            </div>
        </div>
    </div>
</div>
<!--/Jumbotron-->

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <img class="d-block w-100"
                    src="assets/smartmockups_kidt0qj9.png"
                    alt="Imagem de um homem vestindo um casaco preto">
            </div>
            <div class="col-8">
                <h2 class="display-4">(Re)vista-se o Omnichanel do futuro</h2>
                <p>Aqui você pode comprar nosso produtos pelo site, pagando com cartão de crédito, débito, boleto, QR code ou dinheiro.</p>
                <p>E ainda pode escolher se desejá receber o produto no conforto de sua casa ou retirar em uma de nossas lojas.</p>
                <p>Tudo pensado para sua praticidade e conforto!</p>
            </div>
        </div>
    </div>
</div>
<!--/Jumbotron-->


<!--açoes-->
<div class="container w-100" style="background-color: #F5F5F5">

    <div class="row w-100 mt-4 mb-4">
        <div class="card-deck justify-content-center" style="margin-left: 15px">
            <div class="card">
                <img src="assets/(Re)vista-se.png" class="card-img-top" alt="Logo marca da (Re)vista-se">
                <div class="card-body">
                    <h5 class="card-title">Sobre a (Re)Vista-se</h5>
                    <p class="card-text">
                        Nascemos para Transformar o mundo da moda em parceria com produtores, brechós e
                        clientes incríveis. Sabemos que essa missão é grande, mas juntes somos fortes e vamos chegar lá!
                    </p>
                </div>
                <div class="card-footer">
                    <div class="btns">
                        <!--Botões-->
                        <a  routerLink="/sobre">A (Re)vista-se</a>
                        
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="assets/smartmockups_kicbbz1p.jpg" class="card-img-top" alt="Sacola com produtos diversos ao seu redor">
                <div class="card-body">
                    <h5 class="card-title">Nossos Produtos Slow Fashion</h5>
                    <p class="card-text">
                        Criando peças autorais, únicas e exclusivas. Pensando na cadeia de produção, no meio ambiente e
                        em todas as pessoas que terão contato com o produto, Nossos lojistas trazem toda a experiência
                        atrelada às roupas, não é apenas um produto, é uma história!
                    </p>
                </div>
                <div class="card-footer">
                    <div class="btns">
                        <!--Botões-->
                        <a  routerLink="/shop">Nossos produtos</a>
                        
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="assets/e9e3e0f1-c6f0-420a-ae5c-46047064b855.jpeg" class="card-img-top" alt="Modelo feminina posando com um top amarelo">
                <div class="card-body">
                    <h5 class="card-title">Nossos Brechós</h5>
                    <p class="card-text">
                        Você sabia que uma boa peça de roupa pode durar mais de 100 se for bem cuidada? Que tal levar
                        pra sua casa e ressignificar algo que vai ter uma nova vida em outro lar? Essa é proposta dos
                        nossos brechós. Dar uma nova chance para peças únicas e incríveis!
                    </p>
                </div>
                <div class="card-footer">
                    <div class="btns">
                        <!--Botões-->
                        <a  routerLink="#">Nossos Bréchos</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 mb-4">
            <div class="card-deck" style="margin-left: 15px">
                <div class="card">
                    <img src="assets/smartmockups_kicmk5rv.jpg" class="card-img-top" alt="Modelo feminina posando com um moletom estampado com a logo marca da (Re)vista-se">
                    <div class="card-body">
                        <h5 class="card-title">Nossa Feira de Trocas</h5>
                        <p class="card-text">
                            Sabe aquela peça que está guardada há muito tempo na sua casa e você nunca mais usou mas
                            ainda está em ótimas condições? Que tal trocá-la com alguém que vai ficar bem feliz em
                            usá-la e, em troca, levar uma outra roupitcha que vai te ajudar a montar looks incríveis?
                            Esse é o intuito da nossa feira de troca!
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btns">
                            <!--Botões-->
                            <a  routerLink="#">Saiba mais</a>
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/smartmockups_kicn48ao.jpg" class="card-img-top" alt="Modelo masculino posando com uma camiseta estampada com estrelas e a palavra reivente-se">
                    <div class="card-body">
                        <h5 class="card-title">Nosso Clube</h5>
                        <p class="card-text">Sabe aquelas vantagens exclusivas que você adora? Como um frete grátis,
                            descontos, novidades em primeira mão? Nós temos! E o melhor? Por um preço bem pequenininho!
                            Vem ver como funciona e como participar!</p>
                    </div>
                    <div class="card-footer">
                        <div class="btns">
                            <!--Botões-->
                            <a  routerLink="/clube">Vem para o clube (Re)!</a>
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/smartmockups_kicnik4k.jpg" class="card-img-top" alt="Camiseta estampada com um sol de olho abaixo da palavra redescubra">
                    <div class="card-body">
                        <h5 class="card-title">Nosso Blog</h5>
                        <p class="card-text">
                            Além de peças incríveis, também trazemos notícias, matérias e novidades que vão fazer a
                            diferença no seu dia-a-dia! Só clicar no botão abaixo para ficar por dentro de tudo!
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btns">
                            <!--Botões-->
                            <a  routerLink="/blog">Leia mais aqui</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Acoes-->

   


<!--Fundadores-->



<div class="container w-100 " style="background-color: #f5f5f5">
    <h2>Conheça nossos fundadores</h2>

    <div class="row w-100 mt-4 mb-4">
        <div class="card-deck justify-content-center" style="margin-left: 15px">
            <div class="card">
                <img src="assets/jacqueline.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">jacqueline</h5>
                    <p class="card-text">
                        Responsável pelos negócios do site
                    </p>
                </div>
                <div class="card-footer">
                    <div class="btns">
                        <!--Botões-->
                        <a  routerLink="#">Linkedin</a>
                        <a  routerLink="/clube">GitHub</a>
                        
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Gabriel</h5>
                    <p class="card-text">
                        Responsável pela engenharia do software
                    </p>
                </div>
                <div class="card-footer">
                    <div class="btns">
                        <!--Botões-->
                        <a  routerLink="/shop">Linkedin</a>
                        <a  routerLink="/clube">GitHub</a>
                        
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="" class="assets/monica.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Monica</h5>
                    <p class="card-text">
                    Responsável pelo Marketing do site
                    </p>
                </div>
                <div class="card-footer">
                    <div class="btns">
                        <!--Botões-->
                        <a  routerLink="#">Linkedin</a>
                        <a  routerLink="/clube">GitHub</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 mb-4">
            <div class="card-deck" style="margin-left: 15px">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Lysandro</h5>
                        <p class="card-text">
                            Responsável pelo desenvolvimento do site
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btns">
                            <!--Botões-->
                            <a  routerLink="#">Linkedin</a>
                            <a  routerLink="/clube">GitHub</a>
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/wesley.jpeg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Wesley</h5>
                        <p class="card-text">Responsável pela UI/UX do site</p>
                    </div>
                    <div class="card-footer">
                        <div class="btns">
                            <!--Botões-->
                            <a  routerLink="/clube">Linkedin</a>
                            <a  routerLink="/clube">GitHub</a>
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/(Re)vista-se.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Nosso Blog</h5>
                        <p class="card-text">
                            Além de peças incríveis, também trazemos notícias, matérias e novidades que vão fazer a
                            diferença no seu dia-a-dia! Só clicar no botão abaixo para ficar por dentro de tudo!
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btns">
                            <!--Botões-->
                            <a  routerLink="/blog">Leia mais aqui</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--/fundadores-->