/*formatação de animação*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

.body{
    font-family: "Baloo da 2",serif;
}

.jumbotron {
    margin-top: 30px;
    background-color: #16B978;
    text-align: center;
    height: 600px;
}

.jumbotron .container{
    background-color: #f5f5f5;
}

.jumbotron p{
    margin-bottom: 200px;
}

.jumbotron2 .container{
    background-color: #f5f5f5;
    
}

.jumbotron2 .btns{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-left: 100px;
    margin-top: 10px;
}

.jumbotron2 .btns a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 50%;
    border: 2px solid #01b16b;
    background:  #16B978;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 17px;
    transition: 0.3s;
    padding-top: 12px;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.jumbotron2 .btns a:hover{
    background-color: #f5f5f5;
    color:  #16B978;
    
    
}

.jumbotron2 img{
    width: 400px;
    height: 250px;
    margin: 10px;
}

.jumbotron3 .container{
    background-color: #f5f5f5;
}

.jumbotron3 img{
    width: 300px;
    height: 300px;
    margin:30px;
}

.jumbotron3 .btns{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-left: 100px;
    margin-top: 10px;
}

.jumbotron3 .btns a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 50%;
    border: 2px solid #01b16b;
    background:  #16B978;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 17px;
    transition: 0.3s;
    padding-top: 12px;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.jumbotron3 .btns a:hover{
    background-color: #f5f5f5;
    color:  #16B978;
    
}

.jumbotron3 h2{
    margin-left: 50px;
}





.container{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    margin-left: 180px;
    border-radius: 16px;
    
}

.container p{
    font-size: 20px;
}

/*ZERANDO A MARGEM(BORDA DA IMAGEM PRINCIPAL)*/
*{
    margin: 0; 
    padding: 0;
}
header{
    width: 100%;
    height: 700px;/* <-ALTURA DA VISUALIZAÇÃO*/
    overflow: hidden;/*TIRA A BARRA DE ROLAGEM DO FINAL PARA QUE NÃO FIQUE MAIOR DO QUE A TELA*/
    position: relative;/*REPOSICIONANDO O TEXTO DO BANNER*/
}

/*ENVELOPANDO A IMAGEM*/
.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8)
}
/*FORMATANDO A IMAGEM QUE ESTÁ DENTRO DE IMG-WRAPPER*/
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*REDIMENSIONANDO A IMAGEM*/
    opacity: 0.5;
    animation: zoom 25s ;
}

/*FORMATANDO A ANIMAÇÃO DE ABERTURA*/
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

/*REPOSICIONANDO O TEXTO DO BANNER*/
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
/*FORMATANDO A FONTE DO H1*/
.banner h1{
    color: #ffffff;
    font-size: 3.5em;
    font-family: "Baloo da 2",serif;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

    .banner p{
        font-family: "Josefin Slab",serif;
        color: #ffffff;
        font-size: 2rem;
        text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
        margin-bottom: 2rem;
        animation: moveBanner 1s 0.7s forwards;
        opacity: 0;
    }

    .banner button{
        font-family: "Muli",serif;
        color: #ffffff;
        letter-spacing: .1rem;
        text-transform: uppercase;/*DEIXAR A LETRA MAIÚSCULA*/
        padding: 1rem 3rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0;
        animation: moveBanner 1s 0.9s forwards;
    }

/*ANIMAÇÃO DAS LETRAS DO BANNER*/
    @keyframes moveBanner{
        0%{
            transform: translateY(10rem) rotateY(-30deg);
        }
        100%{
            transform: translateY(0rem) rotateY(0);
            opacity: 1;
        }
    }

    .card-footer .btns{
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    /*Estilização dos botões*/
    .card-footer .btns a{
        text-align: center;
        text-decoration: none;
        width: 100%;
        height: 50%;
        border: 2px solid #01b16b;
        background:  #16B978;
        outline: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 900;
        cursor: pointer;
        border-radius: 17px;
        transition: 0.3s;
        padding-top: 10px;
        margin: 10px;
    }
    
    .card-footer .btns a:hover{
        background-color: #fff;
        color:  #16B978;
        
    }
    
    .card-deck{
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
    }
    
    .card{
        margin: 20px;
    }

    
    