<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam Bem Vindes A (RE)CICLO!</h1>
        </div>
    </div>
    <div class="row w-100">
        <div class=".col-md12">
            <p class="text-justify text-monospace texto">
                Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis, vehicula ac nisi. Interessantiss
                quisso pudia ce receita de bolis, mais bolis eu num gostis. Praesent vel viverra nisi. Mauris aliquet
                nunc non turpis scelerisque, eget. Cevadis im ampola pa arma uma pindureta.
            </p>
        </div>

    </div>
</div>
<div class="parallax"> </div>
<div class="row mt-5 mb-5 w-100">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/produtos'>Ver os
            Produtos</button>

    </div>
</div>



<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"></h1>
        <p class="lead"></p>
    </div>
</div>
<!--/Jumbotron-->

<!--Cards-->
<div class="container">
    <p class=" text-center ">
        Fundadores
    </p>
    <div class="card-columns">


        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Jaqueline Barbosa</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                    introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para
                    mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gabriel Ritter</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                    introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para
                    mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mônica Ribeiro</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                    introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para
                    mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wesley Bueno</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                    introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para
                    mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lysandro Martins</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                    introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para
                    mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>


    </div>

    <!--/Cards-->

</div>