.navbar{
    background-color: #16B978;
}

.navbar a{
    text-align: center;
    color: aliceblue;
    transition: 0.3s;
}

.navbar a:hover{
    color: rgb(0, 0, 0);
}

.navegacao{
    margin-right: 400px;
    display: flex;
    flex-direction: row;
}