<footer>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network d-flex flex-row">
                <li><a href="#" class="icoInstagram" titlle="Instagram">
                        <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3" target="_blank"></fa-icon>
                    </a> </li>
                <li><a href="#" class="icoGithub" titlle="Github">
                        <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3" target="_blank"></fa-icon>
                    </a> </li>
                <li><a href="#" class="icoLinkedin" titlle="Linkedin">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"target="_blank"></fa-icon>
                    </a> </li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 ">

            <P class="text-center">Todos os Direitos Reservados: (RE)CICLO &copy
            </P>
        </div>
    </div>

</footer>