<!--Carrosel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src=" assets/smartmockups_kinniel6.jpg"
                alt="Primeiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Utilitarios</h5>
                    
                  </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/smartmockups_kinnbdrm.jpg" alt="Segundo Slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Vestuario</h5>
                
              </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/smartmockups_kino7x0y.jpg"
                alt="Terceiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Decorações</h5>
                    
                  </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<!--/Carrosel-->
<hr>





<div class="quadro d-flex">
    

    <div class="container">

        

        <!--Começo do container-->
        <div class="image" alt="">
            <img src="assets/smartmockups_kilsieqj.png">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Creme corporal</div>
                <p>250ml</p>
                <div class="price">R$29,99</div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Floral</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/H67b255301a9045de9e1d42d0652d3877E.jpg" alt="">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Escovas de bambu</div>
                <p>150g</p>
                <div class="price">R$29,99</div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Floral</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/canudo_de_inox_reutilizavel_ecologico_5_unidades_23cm_com_escova_438980346_3_20180613214445.jpg" alt="">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Kit canudos de metal</div>
                <p>100g</p>
                <div class="price">R$9,99</div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Fornecedor</div>
                    <div class="colour-value">
                        <p>Metal natureza</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/pagamento">Comprar agora</a>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>



    <!--fim do conteúdo do card-->

</div>

