<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/(Re)vista-se.png" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/smartmockups_kib70zrf.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/smartmockups_kic7y0ir.jpg" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Vem cá nos conhecer!</h2>
    </div>
</div>

<div class="container">
    <div class="row mb-5">
        <div class="col-3 text-center justify-content-center mt-3">
            <h3>Sobre a (RE)CICLO:</h3>
            <img class="logotipo" src="..." alt="Logotipo da Reciclo">
        </div>
        <div class="topico col-9 text-justify">
            <p> A (RE)CICLO iniciou suas atividades no início de 2020, com o propósito de conscientizar e mudar a
                relação da sociedade com o meio ambiente em que vive.
                Nós acreditamos que através das pequenas ações diárias é possível despertar e fixar o hábito de cuidar
                do lixo.
                Através da parceria com a Cooperativa Plast+, nossa fornecedora exclusiva de produtos eco sustentáveis,
                conseguimos promover e fomentar ações para ajudar a minimizar os impactos causados pelo homem no
                planeta; como propõe o Objetivo de Desenvolvimento Sustentável da ONU,
                "ODS 13-Ação contra a mudança global do clima".</p>
        </div>
    </div>




    <div class="row mb-5">
        <div class="col-3 text-center justify-content-center mt-3">
            <h3>(RE)CICLO e a Comunidade:</h3>
            <img class="logotipo" src="..." alt="Logotipo da Reciclo">
        </div>
        <div class="topico1 col-9 text-justify">
            <p> A comunidade é inserida através Cooperativa Plast+ de diferentes maneiras. Desde a geração de empregos,
                à capacitação de menores aprendizes dando preferência
                para os jovens da região, mas principalmente promovendo inclusão nesses espaços; até a conscientização
                da comunidade através de eventos, workshops e palestras
                com foco em sustentabilidade e reciclagem de forma geral.
                Para tanto, a (RE)CICLO utiliza recursos adquiridos através das vendas do E-Commerce. Como entidade do
                Terceiro Setor, a empresa faz uso desses mesmos recursos
                também para investimentos em ações que promovem capacitação de profissionais para o planejamento
                relacionado à mudança do clima e à gestão eficaz,
                inclusive com foco em mulheres, jovens, comunidades locais.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-3 text-center justify-content-center mt-3">
            <h3>Foco na Diversidade:</h3>
            <img class="logotipo" src="..." alt="Logotipo da Reciclo">
        </div>
        <div class="topico2 col-9 text-justify">
            <p> Nós acreditamos que o foco na diversidade faz com que a empresa se expresse de forma mais plural a
                sociedade, se posicione de forma repudiosa a toda e qualquer
                forma de preconceito e promova a inclusão no mercado de trabalho e também a todes aqueles que nela estão
                inseridos.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-3 text-center justify-content-center mt-3">
            <h3>De olho no Futuro:</h3>
            <img class="logotipo" src="..." alt="Logotipo da Reciclo">
        </div>
        <div class="topico3 col-9 text-justify">
            <p>Com a performance que a empresa apresenta em tão pouco tempo aliada as projeções promissoras que a mesma
                já dispõe, a (RE)CICLO visa promover mecanismos para a
                criação de capacidades para o planejamento relacionado à mudança do clima e à gestão eficaz, inclusive
                com foco em mulheres, jovens, comunidades locais e marginalizadas,
                em âmbito global, principalmente países menos desenvolvidos.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-3 text-center justify-content-center mt-3">
            <h3>Nossos Valores:</h3>
            <img class="logotipo" src="..." alt="Logotipo da Reciclo">
        </div>
        <div class="topico4 col-9 text-justify">
            <p>Ética;</p>
            <p>Transparência;</p>
            <p>Inovação;</p>
            <p>Diversidade;</p>
            <p>Foco em pessoas;</p>
            <p>futuridade;</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="dicas col-9 text-justify mt-5">
            <h3>Algumas dicas para ajudar nosso planeta:</h3>
            <p>
                -Separe o lixo e recicle
                O lixo orgânico, metais e plásticos não podem ser dispensados no mesmo local sob o risco de não poderem
                ser reciclados. Você mesmo pode separar o lixo e ajudar na reciclagem, uma atitude que ajuda a evitar a
                poluição e a economizar recursos naturais.</p>
            <p>-Economize água
                A água é fonte de vida, é o que sustenta o planeta, portanto, não tome banhos demorados, evite usar a
                mangueira para lavar carro ou o quintal e cuidado com o vazamento de água. Você pode reaproveitar a água
                da máquina de lavar e a água da chuva.</p>
            <p>-Cultive a área verde
                Árvores fornecem sombras às casas (ajudando a economizar o ar-condicionado), produzem oxigênio e
                valorizam a terra. Também é possível cultivar plantas, ainda que menores, o importante é cultivar a área
                verde.</p>
            <p>-Energia Consciente
                Nos dias de hoje, manter a TV e o computador ligados é comum, mas evite fazer isso ao mesmo tempo.
                Apague a luz, caso não pretenda ficar no ambiente, desligue aparelhos que não for usar, e troque as
                lâmpadas incandescentes pelas fluorescentes, que economizam até 75% de energia e são mais duradouras.
                WORKSHOP - RECICLAGEM E REUTILIZAÇÃO DE MATERIAIS</p>
            <p> -Empreendendo com o Lixo;</p>
            <p> -Ferramentas, Oportunidades e Tecnologias com Materiais Reciclados;</p>
            <p> -Decoração e artesanato com Materiais Recicláveis;</p>
            <p> Cursos</p>
            <p> -Oficina de Informática;</p>
            <p> -Mercado de Trabalho;</p>
            <p> -Empreendedorismo;</p>
            <p> -Educação Financeira;</p>
            <div class="row mb-5"></div>

        </div>
        <div class="text-center justify-content-center">
            <img class="logotipo" src="..."
                alt="Imagem de fundo verde e uma frase escrito: conheça o time que faz a (Re)ciclo acontcer!">
        </div>
        <div class="text-justify mt-5">
            <h3>Sobre o Projeto:
                Este Projeto foi produzido pelo "Clube dos 5", um grupo composto por Gabriel Ritter, Jacqueline Barbosa,
                Lysandro Martin, Mônica Ribeiro e Wesley Bueno.
                A (RE)CICLO é um E-commerce, que utiliza os recursos adquiridos através da venda de produtos
                eco-sustentáveis para fomentar ações que promovam a diminuição
                dos impactos causados pelas mudanças climáticas globais através da capacitação de profissionais que
                criam soluções quanto instituições diretamente envolvidas na causa.
                Apresentado como trabalho final para a Instituição Generation Brasil.</h3>
            <div class="row mb-5"></div>
        </div>

        <div class="row mb-5"></div>
        <div class="container w-100" style="background-color: #16B978">

            <div class="row w-100 mt-4 mb-4">
                <div class="card-deck justify-content-center" style="margin-left: 15px">
                    <div class="card">
                        <img src="assets/jacqueline.jpeg" class="card-img-top"
                            alt="Na foto de pefil um rosto de uma mulher negra  sorrindo e vestindo uma camisa branca escrito a palavra Generation com letras verdes.">
                        <div class="card-body">
                            <h5 class="card-title">Jacqueline</h5>
                            <p class="card-text">
                                Responsável pelo desenvolvimento Front End, com participação no Back End.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="btns">
                                <!--Botões-->
                                <a routerLink="#">Linkedin</a>
                                <a routerLink="/clube">GitHub</a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/gabriel.jpg" class="card-img-top"
                            alt="Na foto de perfil um homem branco sorrindo e vestindo uma camisa azul com a manga branca."
                            style="width: 500px; height: 320px;">
                        <div class="card-body">
                            <h5 class="card-title">Gabriel Ritter</h5>
                            <p class="card-text">
                                Responsável pelo desenvolvimento Back End, com participação no Front End.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="btns">
                                <!--Botões-->
                                <a routerLink="/shop">Linkedin</a>
                                <a routerLink="/clube">GitHub</a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/monica.jpg" class="card-img-top"
                            alt="Na foto o rosto de uma mulher branca sorrindo e vestindo uma camisa preta"
                            style="width: 500px; height: 320px;">
                        <div class="card-body">
                            <h5 class="card-title">Monica</h5>
                            <p class="card-text">
                                Responsável pelo desenvolvimento Front End, com participação no Back End.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="btns">
                                <!--Botões-->
                                <a routerLink="#">Linkedin</a>
                                <a routerLink="/clube">GitHub</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-4">
                    <div class="card-deck" style="margin-left: 15px">
                        <div class="card">
                            <img src="assets/lysandro.jpeg" class="card-img-top"
                                alt="Na foto um rosto de um homem branco vestindo uma blusa azul escuro sorrindo de perfil"
                                style="width: 500px; height: 320px;">
                            <div class="card-body">
                                <h5 class="card-title">Lysandro Martins</h5>
                                <p class="card-text">
                                    Responsável pelo desenvolvimento back end, com participação no Front End.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btns">
                                    <!--Botões-->
                                    <a routerLink="#">Linkedin</a>
                                    <a routerLink="/clube">GitHub</a>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="assets/wesley.jpeg" class="card-img-top"
                                alt="Na foto um rosto de um homem branco vestindo uma camisa azul e sorrindo "
                                style="width: 500px; height: 320px;">
                            <div class="card-body">
                                <h5 class="card-title">Wesley Bueno</h5>
                                <p class="card-text">Responsável pelo desenvolvimento Front End, com participação no
                                    Back End.</p>
                            </div>
                            <div class="card-footer">
                                <div class="btns">
                                    <!--Botões-->
                                    <a routerLink="/clube">Linkedin</a>
                                    <a routerLink="/clube">GitHub</a>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="assets/(Re)vista-se.png" class="card-img-top"
                                alt="Camiseta estampada com um sol de olho abaixo da palavra redescubra"
                                style="width: 500px; height: 320px;">
                            <div class="card-body">
                                <h5 class="card-title">Nosso Blog</h5>
                                <p class="card-text">
                                    Além de peças incríveis, também trazemos notícias, matérias e novidades que vão
                                    fazer a
                                    diferença no seu dia-a-dia! Só clicar no botão abaixo para ficar por dentro de tudo!
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btns">
                                    <!--Botões-->
                                    <a routerLink="/blog">Leia mais aqui</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5"></div>