@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

.body{
    font-family: "Baloo da 2",serif;
}

h2{
    color: rgb(58, 54, 54);
}

.parallax{
    background-image: url('https://i.imgur.com/BecMrwm.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}
.texto{
    font-size: 20pt;
    color: green;
}

img {
    
    max-width: 100%;
    max-height: 100%;
    
}

.jumbotron {
    background-color: #f5f5f5;
    text-align: center;
}

.ap .btns{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.ap .btns a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 50%;
    border: 2px solid #16B978;
    background: #16B978;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 17px;
    transition: 0.3s;
    padding-top: 12px;
    margin: 10px;
}

.ap .btns a:hover{
    background-color: #fff;
    border-color: #16B978;
    color: #16B978;
    
}



.card-footer .btns{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*Estilização dos botões*/
.card-footer .btns a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 50%;
    border: 2px solid #16B978;
    background: #16B978;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 17px;
    transition: 0.3s;
    padding-top: 12px;
    margin: 10px;
}

.card-footer .btns a:hover{
    background-color: #fff;
    border-color: #16B978;
    color: #16B978;
    
}


.faInstagram{
transition: 0.3s;
}

.faInstagram:hover{
    color: #ec882b;
    }

.foto-perfil{
    height: 230px;
    width: 200px;
}

.card-deck{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.card{
    margin: 20px;
}

.logotipo{
    width: 700px;
    height: 270px;
    justify-content: center;
}

.containert h2{
    margin-top: 10px;
}

.ns{
    margin-top: 10px;
}





