<div class="body">
    
    <div class="tela">
        <img class="d-block w-100" src="assets/undraw_hang_out_h9ud.svg" alt="Terceiro Slide">
    </div>



    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Venha nos conhecer!</h2>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5">

            <!--Jumbotron-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row d-flex text-justify">
                        <div class="col-4">
                            <img class="d-block w-100" src="assets/LOGO JACQUE.png"
                                alt="Imagem de um homem vestindo um casaco preto">
                        </div>
                        <div class="col-8">
                            <h2 class="display-4">Quem somos</h2>
                            <p> A (RE)CICLO iniciou suas atividades no início de 2020, com o propósito de conscientizar
                                e mudar a
                                relação da sociedade com o meio ambiente em que vive.
                                Nós acreditamos que através das pequenas ações diárias é possível despertar e fixar o
                                hábito de cuidar
                                do lixo.
                                Através da parceria com a Cooperativa Plast+, nossa fornecedora exclusiva de produtos
                                eco sustentáveis,
                                conseguimos promover e fomentar ações para ajudar a minimizar os impactos causados pelo
                                homem no
                                planeta; como propõe o Objetivo de Desenvolvimento Sustentável da ONU,
                                "ODS 13-Ação contra a mudança global do clima".</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Jumbotron-->







            <!--Jumbotron-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row d-flex text-justify">
                        <div class="col-4">
                            <img class="d-block w-100" src="assets/comunidade.png"
                                alt="Imagem de um homem vestindo um casaco preto">
                        </div>
                        <div class="col-8">
                            <h2 class="display-4">(RE)CICLO e a Comunidade:</h2>
                            <p> A comunidade é inserida através Cooperativa Plast+ de diferentes maneiras. Desde a
                                geração de empregos,
                                à capacitação de menores aprendizes dando preferência
                                para os jovens da região, mas principalmente promovendo inclusão nesses espaços; até a
                                conscientização
                                da comunidade através de eventos, workshops e palestras
                                com foco em sustentabilidade e reciclagem de forma geral.
                                Para tanto, a (RE)CICLO utiliza recursos adquiridos através das vendas do E-Commerce.
                                Como entidade do
                                Terceiro Setor, a empresa faz uso desses mesmos recursos
                                também para investimentos em ações que promovem capacitação de profissionais para o
                                planejamento
                                relacionado à mudança do clima e à gestão eficaz,
                                inclusive com foco em mulheres, jovens, comunidades locais.</p>
                        </div>
                    </div>

                </div>
                <!--/Jumbotron-->
            </div>

            <!--Jumbotron-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row d-flex text-justify">
                        <div class="col-4">
                            <img class="d-block w-100" src="assets/diversidadee.jpg"
                                alt="Imagem de um homem vestindo um casaco preto">
                        </div>
                        <div class="col-8">
                            <h2 class="display-4">Foco na diversidade</h2>
                            <p> Nós acreditamos que o foco na diversidade faz com que a empresa se expresse de forma
                                mais plural a
                                sociedade, se posicione de forma repudiosa a toda e qualquer
                                forma de preconceito e promova a inclusão no mercado de trabalho e também a todes
                                aqueles que nela estão
                                inseridos.</p>
                        </div>
                    </div>

                </div>
                <!--/Jumbotron-->
            </div>

            <!--Jumbotron-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row d-flex text-justify">
                        <div class="col-4">
                            <img class="d-block w-100" src="assets/futuro.jpg"
                                alt="Imagem de um homem vestindo um casaco preto">
                        </div>
                        <div class="col-8">
                            <h2 class="display-4">De olho no futuro:</h2>
                            <p>Com a performance que a empresa apresenta em tão pouco tempo aliada as projeções
                                promissoras que a mesma
                                já dispõe, a (RE)CICLO visa promover mecanismos para a
                                criação de capacidades para o planejamento relacionado à mudança do clima e à gestão
                                eficaz, inclusive
                                com foco em mulheres, jovens, comunidades locais e marginalizadas,
                                em âmbito global, principalmente países menos desenvolvidos.</p>
                        </div>
                    </div>

                </div>
                <!--/Jumbotron-->
            </div>

            <!--Jumbotron-->
            <div class="jumbotron jumbotron-fluid w-100">
                <div class="container">
                    <div class="row d-flex text-justify">
                        <div class="col-4">
                            <img class="d-block w-100" src="assets/valores.jpg"
                                alt="Imagem de um homem vestindo um casaco preto">
                        </div>
                        <div class="col-8">
                            <h2 class="display-4">Nossos valores:</h2>
                            <ul>
                                <li>Ética</li>
                                <li>Transparência</li>
                                <li>Inovação</li>
                                <li>Diversidade</li>
                                <li>Foco em pessoas</li>
                                <li>Futuridade</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!--/Jumbotron-->
            </div>


            <!--Fim da row-->



            <!--açoes-->
            <div class="container w-100" style="background-color: #F5F5F5">
                <div class="ns">
                <h2 class="display-4">Nossas ações</h2></div>
                <div class="row w-100 mt-4 mb-4">
                    <div class="card-deck justify-content-center" style="margin-left: 15px">
                        <div class="card">
                            <img src="assets/undraw_teamwork_hpdk.svg" class="card-img-top"
                                alt="Logo marca da (Re)ciclo">
                            <div class="card-body">
                                <h5 class="card-title">Oficinas</h5>
                                <p class="card-text">
                                    Ferramentas, Oportunidades, Tecnologias com Materiais Reciclados e muito mais!
                                </p>
                                <p>Conheça e participe das nossas oficinas!</p>
                            </div>
                            <div class="card-footer">
                                <div class="btns">
                                    <!--Botões-->
                                    <a routerLink="#">Se inscreva!</a>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="assets/undraw_Work_chat_re_qes4.svg" class="card-img-top"
                                alt="descricao da imagem">
                            <div class="card-body">
                                <h5 class="card-title">Workshops</h5>
                                <p class="card-text">
                                    Decoração e artesanato com Materiais Recicláveis, Empreendedorismo sustentável,
                                    Economia circular
                                </p>

                                <p>Aprenda a se (Re)inventar com nosssos workshops!</p>
                            </div>
                            <div class="card-footer">
                                <div class="btns">
                                    <!--Botões-->
                                    <a routerLink="#">Se inscreva!</a>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="assets/undraw_book_lover_mkck.svg" class="card-img-top"
                                alt="Modelo feminina posando com um top amarelo">
                            <div class="card-body">
                                <h5 class="card-title">Cursos</h5>
                                <p class="card-text">
                                    Oficina de Informática,Mercado de Trabalho, Empreendedorismo, Educação Financeira,
                                    Sustentabilidade e Reciclagem e muito mais!
                                </p>
                                <p>Venha expandir seus horizontes com nossos cursos!</p>
                            </div>
                            <div class="card-footer">
                                <div class="btns">
                                    <!--Botões-->
                                    <a routerLink="#">Se inscreva!</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--Acoes-->

            <!--Jumbotron-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row d-flex text-justify">
                        <div class="col-4">
                            <img class="d-block w-100" src="assets/undraw_the_world_is_mine_nb0e.svg"
                                alt="Imagem de um homem vestindo um casaco preto">
                        </div>
                        <div class="col-8">
                            <h2 class="display-4">projetos</h2>
                            <p> A (Re)ciclo converte parte de seus lucros para o apoio de projetos voltados para a
                                construção e desenvolvimento
                                de um futuro sustentável que combata o aumento da temperatura do nosso planeta.</p>
                            <div class="ap">
                                <div class="btns">
                                    <!--Botões-->
                                    <a routerLink="#">Apoie</a>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--/Jumbotron-->
            </div>


            <!--Jumbotron-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row d-flex text-justify">
                        <div class="col-4">
                            <img class="d-block w-100" src="assets/undraw_team_spirit_hrr4.svg"
                                alt="Imagem de um homem vestindo um casaco preto">
                        </div>
                        <div class="col-8">
                            <h2 class="display-4">Sobre o projeto</h2>

                            <p> Este Projeto foi produzido pelo "Clube dos 5", um grupo composto por Gabriel Ritter,
                                Jacqueline
                                Barbosa,
                                Lysandro Martin, Mônica Ribeiro e Wesley Bueno.
                                A (RE)CICLO é um E-commerce, que utiliza os recursos adquiridos através da venda de
                                produtos
                                eco-sustentáveis para fomentar ações que promovam a diminuição
                                dos impactos causados pelas mudanças climáticas globais através da capacitação de
                                profissionais que
                                criam soluções quanto instituições diretamente envolvidas na causa.
                        </div>

                    </div>

                </div>

            </div>
            <!--/Jumbotron-->
        </div>

        <div class="containert">
            
            <div class="row mt-4 mb-4">
                <h2 class="display-4">Equipe (Re)ciclo</h2>
                <div class="card-deck justify-content-center" style="margin-left: 15px">
                    
                    <div class="card">
                        <img src="assets/jacqueline.jpeg" class="card-img-top"
                            alt="Na foto de pefil um rosto de uma mulher negra  sorrindo e vestindo uma camisa branca escrito a palavra Generation com letras verdes."
                            style="width: 500px; height: 320px;">
                        <div class="card-body">
                            <h5 class="card-title">Jacqueline</h5>
                            <p class="card-text">
                                Responsável pelo desenvolvimento Front End, com participação no Back End.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="btns">
                                <!--Botões-->
                                <a routerLink="#">Linkedin</a>
                                <a routerLink="/clube">GitHub</a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/gabriel.jpg" class="card-img-top"
                            alt="Na foto de perfil um homem branco sorrindo e vestindo uma camisa azul com a manga branca."
                            style="width: 500px; height: 320px;">
                        <div class="card-body">
                            <h5 class="card-title">Gabriel Ritter</h5>
                            <p class="card-text">
                                Responsável pelo desenvolvimento Back End, com participação no Front End.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="btns">
                                <!--Botões-->
                                <a routerLink="/shop">Linkedin</a>
                                <a routerLink="/clube">GitHub</a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/monica.jpg" class="card-img-top"
                            alt="Na foto o rosto de uma mulher branca sorrindo e vestindo uma camisa preta"
                            style="width: 500px; height: 320px;">
                        <div class="card-body">
                            <h5 class="card-title">Monica</h5>
                            <p class="card-text">
                                Responsável pelo desenvolvimento Front End, com participação no Back End.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="btns">
                                <!--Botões-->
                                <a routerLink="#">Linkedin</a>
                                <a routerLink="/clube">GitHub</a>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-deck" style="margin-left: 15px">
                    <div class="card">
                        <img src="assets/lysandro.jpeg" class="card-img-top"
                            alt="Na foto um rosto de um homem branco vestindo uma blusa azul escuro sorrindo de perfil"
                            style="width: 500px; height: 320px;">
                        <div class="card-body">
                            <h5 class="card-title">Lysandro Martins</h5>
                            <p class="card-text">
                                Responsável pelo desenvolvimento back end, com participação no Front End.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="btns">
                                <!--Botões-->
                                <a routerLink="#">Linkedin</a>
                                <a routerLink="/clube">GitHub</a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/wesley.jpeg" class="card-img-top"
                            alt="Na foto um rosto de um homem branco vestindo uma camisa azul e sorrindo "
                            style="width: 500px; height: 320px;">
                        <div class="card-body">
                            <h5 class="card-title">Wesley Bueno</h5>
                            <p class="card-text">Responsável pelo desenvolvimento Front End, com participação no
                                Back End.</p>
                        </div>
                        <div class="card-footer">
                            <div class="btns">
                                <!--Botões-->
                                <a routerLink="/clube">Linkedin</a>
                                <a routerLink="/clube">GitHub</a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/undraw_voice_assistant_nrv7.svg" class="card-img-top"
                            alt="Camiseta estampada com um sol de olho abaixo da palavra redescubra"
                            style="width: 500px; height: 320px;">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                               
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="btns">
                                <!--Botões-->
                                <a routerLink="/contato">Fale conosco!</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mb-5"></div>

    </div>

</div>