<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/(Re)vista-se.png" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/smartmockups_kib70zrf.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/smartmockups_kic7y0ir.jpg" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="container">
    <div class="row mb-5">
        <div class="col-3 text-center justify-content-center mt-3">
            <h3>Sobre a (RE)CICLO:</h3>
            <img clas="logotipo" src="assets/(Re)vista-se.png"
                alt="Logotipo da loja com fundo bege, o escrito (Re)Vista-se em preto e, embaixo dele, o desenho de uma arara preta com as seguintes peças penduradas: um blazer vermelho, uma blusa verde, um colete amarelo e uma calça laranja">
        </div>
        <div class="col-9 text-justify">
            <p>
                A (RE)CICLO iniciou suas atividades no início de 2020, com o propósito de conscientizar e mudar a
                relação da sociedade com o meio ambiente em que vive.
                Nós acreditamos que através das pequenas ações diárias é possivel despertar e fixar o hábito de cuidar
                do lixo. Para tanto, entendemos a importância
                de inserir a comunidade no processo. Através da parceria com a Cooperativa Plast+, nossa fornecedora
                exclusiva de produtos ecossustentáveis, conseguimos
                promover e fomentar ações para ajudar a minimizar os impactos causados pelo homem no planeta; como
                propõe o Objetivo de Desenvolvimento Sustentável da ONU,
                "ODS 13-Ação contra a mudança global do clima".
                A comunidade é inserida através Cooperativa Plast+ de diferentes maneiras. Desde a geração de empregos,
                à capacitação de menores aprendizes dando preferência
                para os jovens da região, mas principalmente promovendo inclusão nesses espaços; até a conscientização
                da comunidade através de eventos, workshops e palestras
                com foco em sustentabilidade e reciclagem de forma geral.
                Para tanto, a (RE)CICLO utiliza recursos adquiridos atráves das vendas do E-Commerce. Como entidade do
                Terceiro Setor, a empresa faz uso desses mesmos recursos
                também para investimentos em ações que promovem capacitação de profissionais para o planejamento
                relacionado à mudança do clima e à gestão eficaz,
                inclusive com foco em mulheres, jovens, comunidades locais.
                Foco na Diversidade:
                Nós acreditamos que o foco na diversidade faz com que a empresa se espresse de forma mais plural a
                sociedade, se posicione de forma repudiosa a toda e qualquer
                forma de preconceito e promova a inclussão no mercado de trabalho e também a todes aqueles que nela
                estão inseridos.
                De olho no Futuro:
                Com a performance que a empresa apresenta em tão pouco tempo aliada as projeções promissoras que a mesma
                já dispõe, a (RE)CICLO visa promover mecanismos para a
                criação de capacidades para o planejamento relacionado à mudança do clima e à gestão eficaz, inclusive
                com foco em mulheres, jovens,comunidades locais e marginalizadas,
                em âmbito global, principalmente países menos desenvolvidos.
                Nossos Valores:
                Ética;
                Transparência;
                Inovação;
                Diversidade;
                Foco em pessoas;
                futuridade;
                Sobre o Projeto:
                Este Projeto foi produzido pelo "Clube dos 5", um grupo composto por Gabriel Ritter, Jacqueline Barbosa,
                Lysandro Martin, Mônica Ribeiro e Wesley Bueno.
                A (RE)CICLO é um E-commerce, que utiliza os recursos adquiridos através da venda de produtos
                eco-sustentáveis para fomentar ações que promovam a diminuição
                dos impactos causados pelas mudanças climáticas globais através da capacitação de profissionais que
                criam soluções quanto instituições diretamente envolvidas na causa.
                Apresentado como trabalho final para a Instituição Generation Brasil.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-9 text-justify mt-5">
            <p>Mas o que é Slow Fashion? É um termo que surgiu em 2014 para descrever marcas que produzem peças em baixa
                escala, levando em consideração as pessoas envolvidas no processo e os consumidores, o meio ambiente e
                os animais. É moda feita de forma consciente. Nossos parceiros nesse ramo prezam pela qualidade do
                produto, o excelente atendimento ao cliente, peças feitas em pequenas quantidades e, algumas, sob
                encomenda e sob medida, para atender a uma demanda específica, impedindo assim desperdícios e um gasto
                desnecessário de recursos naturais. Abaixo nossos parceiros! Sigam-os no Instagram para saber mais sobre
                seus negócios!</p>

        </div>
        <div class="text-center justify-content-center">
            <img class="logotipo w-50" src="/assets/conheçaNossaEquipe.png"
                alt="Imagem de fundo dourado com corações e uma frase escrito: conheça o time que faz a (Re)vista-se acontcer!">
        </div>
        <div class="text-justify mt-5">
            <h2>Nosso time é composto por 5 integrantes sendo cada um responsável por cuidar do nosso site, e
                sendo eles:</h2>
        </div>

        <div class="card">
            <img src="assets/(Re)vista-se.png" class="card-img-top"
                alt="Camiseta estampada com um sol de olho abaixo da palavra redescubra"
                style="width: 500px; height: 320px;">
            <div class="card-body">
                <h5 class="card-title">Nosso Blog</h5>
                <p class="card-text">
                    Além de peças incríveis, também trazemos notícias, matérias e novidades que vão fazer a
                    diferença no seu dia-a-dia! Só clicar no botão abaixo para ficar por dentro de tudo!
                </p>
            </div>
            <div class="card-footer">
                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/blog">Leia mais aqui</a>

                </div>
            </div>
        </div>
    </div>
    <div class="parallax"> </div>
    <div class="row mt-5 mb-5 w-100">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/home'>Ver a home</button>

        </div>
    </div>
</div>